@import "tailwindcss";

#root {
  max-width: 1280px;
  margin: 0 auto;
  font-family: "Baloo Thambi 2", sans-serif;
}

/* For the review Dialog */
body {
  background-color: #efeeee;
  font-family: sans-serif;
}

form {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: start;
}

form > div {
  width: 80%;
  margin-bottom: 30px;
  border-radius: 25px;
  box-shadow: inset 8px 8px 8px #cbcaca, inset -8px -8px 8px #fff;
}

input,
textarea {
  width: 100%;
  padding: 20px 10px 20px 15px;
  color: #686868;
}

input::placeholder {
  opacity: 1;
  color: #999797;
}

textarea::placeholder {
  opacity: 1;
  color: #999797;
}

.dates {
  display: flex;
  padding: 20px 10px 20px 15px;
  color: #999797;
}

.dates > input,
label {
  padding: 0;
  color: #999797;
}

button {
  cursor: pointer;
  width: 80%;
  height: 40px;
  border-radius: 25px;
  background-color: #a3d2a8;
  box-shadow: 3px 3px 8px #cbcaca, -3px -3px 8px #fff;
  font-weight: 500;
  font-size: large;
  color: #5e5d5d;
}

button:hover {
  background-color: #56835a;
  color: #999797;
}

button:active {
  background-color: #2d452f;
  color: #999797;
}

#stars {
  justify-content: center;
  font-size: 1.5rem;
}

#starReviewContainer {
  width: fit-content;
  padding: 20px 10px 20px 15px;
  box-shadow: 3px 3px 8px #cbcaca, -3px -3px 8px #fff;
}

/* ====================== Review posts =================== */

#postSection {
  /* This margin top will need adjustment for it to be responsive same as the paddings on all elements*/
  margin-top: 10%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 8%;
  row-gap: 5%;
  grid-template-rows: auto;
  align-content: center;
  justify-content: center;
  background-color: #efeeee;
}

.reviewDiv {
  border-radius: 40px;
  padding: 20px 35px 60px 35px;
  box-shadow: 13px 13px 20px #cbcaca, -13px -13px 20px #fff;
}

#titleAndAuthor {
  /* background-color: #a3d2a8; */
  padding: 20px 10px 20px 15px;
  margin-bottom: 30px;
  border-radius: 25px;
  box-shadow: 8px 8px 8px #cbcaca, -8px -8px 8px #fff;
  font-weight: 600;
}
#reviewInfo {
  padding: 20px 10px 20px 15px;
  margin-bottom: 30px;
  border-radius: 25px;
  /* box-shadow: inset 8px 8px 8px #cbcaca, inset -8px -8px 8px #fff; */
  box-shadow: inset 8px 8px 8px #8bb38f, inset -8px -8px 8px #bbf2c1;
  background-color: #a3d2a8;
  /* background-color: #efeeee; */
}
