@import "tailwindcss";

* {
  box-sizing: border-box;
}
html {
  min-height: 100vh;
}

#root {
  margin: 0;
  font-family: "Baloo Thambi 2", sans-serif;
  min-height: 100vh;
  padding-bottom: 80px;
}

:root {
  --fs-xl: clamp(2rem, 2vw + 1rem, 8rem);
  --fs-600: 2rem;
  --fs-500: 1rem;
  --fs-400: 0.8rem;
}

@media (min-width: 800px) {
  :root {
    --fs-xl: clamp(4rem, 8vw + 1rem, 6rem);
    --fs-600: 2rem;
    --fs-500: 1.4rem;
    --fs-400: 1rem;
  }
}

h1 {
  font-size: var(--fs-600);
}

h2 {
  font-size: var(--fs-500);
}

/* For the review Dialog */
body {
  background-color: #efeeee;
  font-family: sans-serif;
  padding-top: 20px;
  min-height: 100vh;
}

form {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: start;
}

form > div {
  width: 80%;
  margin-bottom: 30px;
  border-radius: 25px;
  box-shadow:
    inset 8px 8px 8px #cbcaca,
    inset -8px -8px 8px #fff;
}

input,
textarea {
  width: 100%;
  padding: 20px 10px 20px 15px;
  color: #686868;
}

input::placeholder {
  opacity: 1;
  color: #999797;
}

textarea::placeholder {
  opacity: 1;
  color: #999797;
}

.dates {
  display: flex;
  padding: 20px 10px 20px 15px;
  color: #999797;
}

.dates > input,
label {
  padding: 0;
  color: #999797;
}

#submit {
  cursor: pointer;
  width: 80%;
  height: 40px;
  border-radius: 25px;
  background-color: #a3d2a8;
  box-shadow:
    3px 3px 8px #cbcaca,
    -3px -3px 8px #fff;
  font-weight: 500;
  font-size: large;
  color: #5e5d5d;
  transition: 0.5s;
}

#submit:hover {
  background-color: #56835a;
  color: #999797;
}

#submit:active {
  background-color: #2d452f;
  color: #999797;
}

#stars {
  justify-content: center;
  font-size: 1.5rem;
}

#starReviewContainer {
  width: fit-content;
  padding: 20px 10px 20px 15px;
  box-shadow:
    3px 3px 8px #cbcaca,
    -3px -3px 8px #fff;
}

/* ====================== Review posts =================== */

#postSection {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 20px;
  grid-template-rows: auto;
  align-content: start;
  justify-content: center;
  background-color: #efeeee;
}

.reviewDiv {
  border-radius: 40px;
  padding: 20px 35px 30px 35px;
  box-shadow:
    13px 13px 20px #cbcaca,
    -13px -13px 20px #fff;
  width: 80%;
  justify-self: center;
}

#titleAndAuthor {
  /* background-color: #a3d2a8; */
  padding: 20px 10px 20px 15px;
  margin-bottom: 30px;
  border-radius: 25px;
  box-shadow:
    8px 8px 8px #cbcaca,
    -8px -8px 8px #fff;
  font-weight: 600;
  color: #515151;
  font-size: var(--fs-500);
}
#reviewInfo {
  padding: 20px 10px 20px 15px;
  margin-bottom: 30px;
  border-radius: 25px;
  /* box-shadow: inset 8px 8px 8px #cbcaca, inset -8px -8px 8px #fff; */
  box-shadow:
    inset 8px 8px 8px #8bb38f,
    inset -8px -8px 8px #bbf2c1;
  background-color: #a3d2a8;
  /* background-color: #efeeee; */
}

/* ============like and delete button============ */

#likeButton {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow:
    6px 6px 6px #cbcaca,
    -6px -6px 6px #fff;
  align-self: flex-end;
}

#likeButtonPressed {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow:
    inset 6px 6px 6px #cbcaca,
    inset -6px -6px 6px #fff;
  align-self: flex-end;
}

#deleteButton {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow:
    6px 6px 6px #cbcaca,
    -6px -6px 6px #fff;
  align-self: flex-end;
}

#deleteButtonPressed {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow:
    inset 6px 6px 6px #cbcaca,
    inset -6px -6px 6px #fff;
  align-self: flex-end;
}
/*===================lINKS/NAV================== */
.link {
  padding: 15px 15px 15px 15px;
  border-radius: 15px;
  box-shadow:
    8px 8px 8px #cbcaca,
    -4px -4px 6px #fff;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 5px;
  height: 50px;
  font-weight: 600;
  color: #515151;
}

#linkNewReview {
  padding: 15px 15px 15px 15px;
  border-radius: 15px;
  box-shadow:
    8px 8px 8px #cbcaca,
    -4px -4px 6px #fff;
  margin-left: 0;
  margin-right: 15px;
  margin-top: 5px;
  height: 50px;
  font-weight: 600;
  color: #515151;
}

#linkLogo {
  background-color: #a3d2a8;
  padding: 15px 15px 15px 15px;
  border-radius: 15px;
  box-shadow:
    8px 8px 8px #bacdbd,
    -4px -4px 6px #fff;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 5px;
  height: 50px;
  font-weight: 600;
  color: #515151;
}

#linkLogo:hover {
  background-color: #56835a;
  color: #515151;
}

.link:hover {
  box-shadow:
    inset 8px 8px 8px #cbcaca,
    inset -6px -6px 6px #fff;
}

.link:active {
  box-shadow:
    inset 8px 8px 8px #cbcaca,
    inset -6px -6px 6px #fff;
}

#linkNewReview:hover {
  box-shadow:
    inset 8px 8px 8px #cbcaca,
    inset -6px -6px 6px #fff;
}

nav {
  height: 70px;
  width: 100%;
  box-shadow: 0 2px 4px 0px #cbcaca;
  position: fixed;
  bottom: 0;
  z-index: 10000;
  background-color: #efeeee;
}

/*==================Dialogs===================== */
dialog {
  position: fixed;
  width: 40%;
  align-self: center;
  justify-self: center;
  border-radius: 30px;
  background-color: #efeeee;
}

dialog::backdrop {
  backdrop-filter: blur(5px);
}

form {
  justify-self: center;
  padding-bottom: 10px;
}

#closeForm {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  box-shadow:
    6px 6px 6px #cbcaca,
    -6px -6px 6px #fff;
}

#closeFormPressed {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  box-shadow:
    inset 6px 6px 6px #cbcaca,
    inset -6px -6px 6px #fff;
}

#deleteDialog {
  padding: 30px 30px 30px 30px;
  position: fixed;
  height: fit-content;
  align-self: center;
  justify-self: center;
  border-radius: 30px;
  background-color: #efeeee;
  font-family: sans-serif;
}

#closeDeletePressed {
  width: fit-content;
  padding: 10px 10px 10px 10px;
  border-radius: 20px;
  text-align: center;
  box-shadow:
    inset 6px 6px 6px #cbcaca,
    inset -6px -6px 6px #fff;
  color: #a3d2a8;
}

#closeDelete {
  width: fit-content;
  padding: 10px 10px 10px 10px;
  border-radius: 20px;
  text-align: center;
  box-shadow:
    6px 6px 6px #cbcaca,
    -6px -6px 6px #fff;
}

#delete {
  width: fit-content;
  padding: 10px 10px 10px 10px;
  border-radius: 20px;
  text-align: center;
  box-shadow:
    6px 6px 6px #cbcaca,
    -6px -6px 6px #fff;
}

#deletePressed {
  width: fit-content;
  padding: 10px 10px 10px 10px;
  border-radius: 20px;
  text-align: center;
  box-shadow:
    inset 6px 6px 6px #cbcaca,
    inset -6px -6px 6px #fff;
  color: #d03d3d;
}

#deleteDialogContainer {
  background-color: #efeeee;
  border-radius: 20px;
  box-shadow:
    inset 10px 10px 10px #cbcaca,
    inset -10px -10px 10px #fff;
}

/*==================homepage================= */
#homePageContainer {
  width: 60%;
  padding: 50px 20px 50px 20px;
  justify-self: center;
  align-self: center;
  border-radius: 25px;
  box-shadow:
    8px 8px 8px #cbcaca,
    -8px -8px 8px #fff;
}

#titleSpan {
  font-family: "Nunito Sans", sans-serif;
  font-size: var(--fs-xl);
  font-weight: 800;
}

/*==== Media Queries ===== */

@media (min-width: 1024px) {
  #root {
    padding-bottom: 0;
  }
  body {
    padding-top: 90px;
    padding-bottom: 0;
    margin-bottom: 60px;
  }
  nav {
    margin-bottom: 20px;
    position: fixed;
    top: 0;
    bottom: auto;
  }

  #postSection {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 50px;
  }
}

@media (min-width: 1440px) {
  #postSection {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 50px;
  }
  #homePageSection {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 30px;
    /* height: 50vh; */
    width: 90vw;
    justify-self: center;
    align-self: center;
    justify-content: center;
    border-radius: 25px;
    box-shadow:
      inset 8px 8px 8px #cbcaca,
      inset -8px -8px 8px #fff;
  }
}

/*======Top rated reviews=======*/

.topRatedReviewsContainers {
  font-size: var(--fs-500);
  font-weight: 500;
  border-radius: 40px;
  padding: 20px 35px 30px 35px;
  box-shadow:
    13px 13px 20px #cbcaca,
    -13px -13px 20px #fff;
  width: 80%;
  margin-bottom: 30px;
  justify-self: center;
}

/*============New post button=============*/
#newPostButton {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow:
    6px 6px 6px #cbcaca,
    -6px -6px 6px #fff;
  align-self: flex-end;
}
